.container{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    width: 100%;
    height:70px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background: #fff;
}

#header .logo{
    width: 170.79px;
    height: 26.72px;
}

#header .menu{
    width: 30px;
    height: 30px;
    
}

#main{
    width: 100%;
    height: 93px;
    text-align: center;
    background: #f0f0f0;
    padding: 6px;
    
}

#main b{
    font-size: 26px;
    
}

#main p{
    margin: 0;
    padding-top: 16px;
}

#secao1{ 
    width: 100%;
    height: 199px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

h1{
    padding-top: 48px;
    margin: 0;
    text-decoration: none;
    font-size: 300%;
    
}

#secao1 p{
    margin: 0;
}

#secao2{
    width: 100%;
    height: 322px;
    background: #f0f0f0;
    text-align:center;
    display: flex;
    justify-content: center;

    
    
    
}

.secao2foto{
    width: 100%;
    background-image: url(../images/Frame\ 305.png);
    background-repeat: no-repeat;
    flex-direction: column;
    
    
    
}

.texto{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 150px;
    
}

.texto p{
    
    text-align: start;
}

.texto h2{
    margin:0;
    padding-right: 402px;
}
    
    

.secao3{
    background-image: url(../images/fundo.png);
    width: 100%;
    height: 323px;
    background-size: cover;
    display: flex;
    background-position: 100%;
    flex-direction: column;
    padding: 60px;
    
}



#secao4{
    width: 100%;
    height: 315px;
    justify-content: space-between;
    display: flex;
}

.box1{
    width: 100%;
    background-image: url(../images/Frame\ .png);
    background-size: cover;
    height: 315px;
}

.box2{
    width: 100%;
    background-image: url(../images/Frame\ 306.png);
    background-size: cover;
    height: 315px;
}

.box3{
    width: 100%;
    background-image: url(../images/Frame\ 307.png);
    background-size: cover;
    height: 315px;

}
    
.secao5{
    padding: 60px 20px 60px 20px;
    width: 100%;
    height: 165px;
    text-align: center;

      
}

.secao5 h3{
    width: 100%;
    margin:0;
    font-size: 24px;
}

.secao5 p{
    font-size: 12px;
}
.footer{
    width: 100%;
    background: #f0f0f0;
    padding: 30px;
    display: flex;
    flex-direction: column;

}

.elementos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.redesocial{
    flex-direction: column;
    display: flex;
    
}
.sociais{
    
    flex-direction: row;

}
.sociais a{
    margin: 0px 16px 0px 0px;
}

.ftbox{
    flex-direction: column;
    justify-content: space-between;
    display: flex;
       
}

.ftbox a{
    color:#0d0d0d;
}
    
    
@media screen and (max-width: 764px){

#secao2{
    flex-direction: column;
  

}
.secao2foto{
    height: 322px;
}
#secao4{
    height: 100%;
    flex-direction: column;
}
.box1{
    background-position: center;
    height: 315px;

}
.box2{
    background-position: center;
    height: 315px;
}
.box3{
    background-position: center;
    height: 315px;
}

.elementos{
    flex-direction: column;
}
}
    


